body {
    font-family: system;
    font-size: 1.5em;
}

ul[class="CreateAccount"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}

.CreateAccount {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}

.CreateAccount a:hover {
    background-color: #fffafa;
    color: #eb1717;
}

ul[class="EditAcc"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}

.EditAcc {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}

.EditAcc a:hover {
    background-color: #fffafa;
    color: #eb1717;
}

ul[class="CreateTrans"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}

.CreateTrans {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}
.CreateTrans a:hover {
    background-color: #fffafa;
    color: #eb1717;
}

ul[class="MyTrans"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}

.MyTrans {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}

.MyTrans a:hover {
    background-color: #fffafa;
    color: #eb1717;
}


ul[class="Account"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font:#ffffff;
}

.Account {
    float: left;
    text-align: left;
}

.Account {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}

.Account a:hover {
    background-color: #fffafa;
    color: #eb1717;
}

ul[class="Transactions"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}
.Transactions {
    float: left;
    text-align: left;
}

.Transactions {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}

.Transactions a:hover {
    background-color: #fffafa;
    color: #eb1717;
}

ul[class="ViewTrans"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}

.ViewTrans {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}

.ViewTrans a:hover {
    background-color: #fffafa;
    color: #eb1717;
}

ul[class="nav"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ec2d2d;
}


ul[class="ViewAcc"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}

.ViewAcc {
    display: block;
    color: black;
    text-align: left;
    padding: 18px;
    text-decoration: none;
}

.ViewAcc a:hover {
    background-color: #fffafa;
    color: #eb1717;
}

ul[class="nav"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ec2d2d;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}


.nav > li a:hover {
    background-color: #fffafa;
    color: #eb1717;
}



input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #ec2d2d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input:nth-of-type(1) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(2) {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

input:nth-of-type(3) {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

input:nth-of-type(4) {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

input:nth-of-type(5) {
    margin-left: 25px !important;
    margin-right: 25px !important;
}


